
html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
  display:flex;
  flex-direction: column;
  overflow-y: auto;
}

a {
  color: black !important;
  text-decoration: none !important;
}

main > div {
  margin: 0;
}

.title {
  width: 100%;
  padding: auto;
}

.title > h1 {
  width: 100%;
}

main > div {
  height: 100%;
  width: 100%;
}

.sidemenu {
  list-style: none;
  margin: 0;
}  

.sidemenu > li {
  height: 40px;
  font-size: 1.5em;
}  

.form {
  height: 100%;
  width: 100%;
}  

.fields-div {
  width: 90%;
}

footer {
  position: relative;
  width: 100%;
  margin-top: auto;
  display: block;
}

/*------------------------------*/

.table-data {
  width: max-content !important;
  min-width: 100%;
}

.micro-btn {
  --bs-btn-padding-y: 0 !important; 
  --bs-btn-padding-x: 0 !important; 
  --bs-btn-font-size: .75rem;
}

.micro-th {
  width: 40px;
  padding: 0.2rem !important;
}
